/* Global styles */
:global(html, body) {
	overflow: hidden;
	min-height: 100svh;
}

@media screen and (max-width: 768px) {
	body:has(astro-card[data-size="large"]),
	html:has(astro-card[data-size="large"]) {
		overflow: initial;
	}
}

:global(body) {
	display: grid;
	place-items: center;
}

@media screen and (max-width: 768px) {
	:global(body):has(astro-card[data-size="large"]) {
		display: block;
	}
}
