/* Global styles */
html,
body {
	overflow: hidden;
	height: 100dvh;
}

@media screen and (max-width: 768px) {
	:global(html[data-has-large-card], body[data-has-large-card]) {
		overflow: initial;
	}
}

:global(body) {
	display: grid;
	place-items: center;
}

@media screen and (max-width: 768px) {
	:global(body[data-has-large-card]) {
		display: block;
	}
}
