---
import Card from "../components/Card.astro";
import Icon from "../components/Icon.astro";
import Default from "../layouts/Default.astro";
---

<Default>
	<Card
		class="-right-[20%] top-1/2 w-[158.824%] origin-top rotate-90 space-y-3 font-semibold text-[#242424] sm:right-auto sm:top-auto sm:w-auto sm:rotate-0"
	>
		<figure>
			<figcaption>
				<h1 class="text-3xl font-extrabold">
					<span class="block text-4xl leading-8">Austin</span>
					<span class="inline-block">Raey</span>
				</h1>
			</figcaption>
			<img
				alt="Portrait of Austin Raey"
				class="absolute right-0 top-0 size-24 rounded-[40%]"
				loading="eager"
				src="/portrait.avif"
			/>
		</figure>

		<div>
			<div>
				<Icon name="ph/map-pin-duotone" />
				<span>North Carolina</span>
			</div>
			<div>
				<Icon name="ph/shirt-folded-duotone" />
				<span>Software Engineer</span>
			</div>
			<ul class="ml-5 space-y-0.5 text-xs font-normal tracking-tight">
				<li>
					<span class="sr-only">Specializing in:</span>
					<ul class="flex gap-0.5">
						<li class="rounded-xl bg-white/30 p-0.5 px-1">Frontend</li>
						<li class="rounded-xl bg-white/30 p-0.5 px-1">Full-Stack</li>
						<li class="rounded-xl bg-white/30 p-0.5 px-1">DevOps</li>
					</ul>
				</li>
				<li>
					<span class="sr-only">Proficient in:</span>
					<ul class="flex gap-0.5">
						<li class="rounded-xl bg-white/30 p-0.5 px-1">JavaScript</li>
						<li class="rounded-xl bg-white/30 p-0.5 px-1">TypeScript</li>
						<li class="rounded-xl bg-white/30 p-0.5 px-1">Frameworks</li>
					</ul>
				</li>
			</ul>
		</div>

		<ul class="flex flex-wrap gap-2">
			<li>
				<a
					class="rounded-xl border border-black/20 bg-white/20 px-2 py-1"
					href="https://github.com/austin-raey"
					rel="me external noopener noreferrer"
					target="_blank"
					title="Austin's GitHub profile"
				>
					<Icon name="ph/github-logo-duotone" /> austin-raey
				</a>
			</li>
			<li>
				<a
					class="rounded-xl border border-black/20 bg-white/20 px-2 py-1"
					href="https://www.threads.net/@austin.raey"
					rel="me external noopener noreferrer"
					target="_blank"
					title="Austin's Threads profile"
				>
					<Icon name="ph/threads-logo-duotone" /> austin.raey
				</a>
			</li>
			<li>
				<a
					class="rounded-xl border border-black/20 bg-white/20 px-2 py-1"
					href="https://www.instagram.com/austin.raey"
					rel="me external noopener noreferrer"
					target="_blank"
					title="Austin's Instagram profile"
				>
					<Icon name="ph/instagram-logo-duotone" /> austin.raey
				</a>
			</li>
			<li>
				<a
					class="rounded-xl border border-black/20 bg-white/20 px-2 py-1"
					href="https://www.linkedin.com/in/austin-raey/"
					rel="me external noopener noreferrer"
					target="_blank"
					title="Austin's LinkedIn profile"
				>
					<Icon name="ph/linkedin-logo-duotone" /> austin-raey
				</a>
			</li>
			<li>
				<a
					class="rounded-xl border border-black/20 bg-white/20 px-2 py-1"
					href="mailto:austin@raey.link"
					rel="me external noopener noreferrer"
					target="_blank"
					title="Austin's email"
				>
					<Icon name="ph/mailbox-duotone" />
					Email
				</a>
			</li>
		</ul>
	</Card>
</Default>
