---
import Mailbox from "~icons/ph/envelope-duotone";
import GitHub from "~icons/ph/github-logo-duotone";
import Instagram from "~icons/ph/instagram-logo-duotone";
import LinkedIn from "~icons/ph/linkedin-logo-duotone";
import MapPin from "~icons/ph/map-pin-duotone";
import ShirtFolded from "~icons/ph/shirt-folded-duotone";
import Threads from "~icons/ph/threads-logo-duotone";

import Card from "../components/Card.astro";
import Default from "../layouts/Default.astro";
---

<Default>
	<Card class="text-[#242424] space-y-3 font-semibold">
		<figure>
			<figcaption>
				<h1 class="text-3xl font-extrabold">
					<span class="text-4xl block leading-8">Austin</span>
					<span class="inline-block">Raey</span>
				</h1>
			</figcaption>
			<img
				alt="Portrait of Austin Raey"
				class="size-24 rounded-[40%] absolute top-0 right-0"
				loading="eager"
				src="/portrait.avif"
			/>
		</figure>

		<div>
			<div class="flex items-center gap-0.5">
				<MapPin />
				<span>North Carolina</span>
			</div>
			<div class="flex items-center gap-0.5">
				<ShirtFolded />
				<span>Software Engineer</span>
			</div>
			<ul class="ml-5 text-xs tracking-tight font-normal space-y-0.5">
				<li>
					<span class="sr-only">Specializing in:</span>
					<ul class="flex gap-0.5">
						<li class="bg-white/30 rounded-xl p-0.5 px-1">Frontend</li>
						<li class="bg-white/30 rounded-xl p-0.5 px-1">Full-Stack</li>
						<li class="bg-white/30 rounded-xl p-0.5 px-1">DevOps</li>
					</ul>
				</li>
				<li>
					<span class="sr-only">Proficient in:</span>
					<ul class="flex gap-0.5">
						<li class="bg-white/30 rounded-xl p-0.5 px-1">JavaScript</li>
						<li class="bg-white/30 rounded-xl p-0.5 px-1">TypeScript</li>
						<li class="bg-white/30 rounded-xl p-0.5 px-1">Frameworks</li>
					</ul>
				</li>
			</ul>
		</div>

		<ul class="flex flex-wrap gap-0.5">
			<li class="p-0.5 px-1">
				<a
					class="flex items-center gap-0.5 border border-black/20 rounded-xl p-0.5 px-1 bg-white/20"
					href="#"
					rel="external noopener noreferrer"
					target="_blank"
				>
					<Threads /> austin-raey
				</a>
			</li>
			<li class="p-0.5 px-1">
				<a
					class="flex items-center gap-0.5 border border-black/20 rounded-xl p-0.5 px-1 bg-white/20"
					href="#"
					rel="external noopener noreferrer"
					target="_blank"
				>
					<Instagram /> austin-raey
				</a>
			</li>
			<li class="p-0.5 px-1">
				<a
					class="flex items-center gap-0.5 border border-black/20 rounded-xl p-0.5 px-1 bg-white/20"
					href="#"
					rel="external noopener noreferrer"
					target="_blank"
				>
					<GitHub /> austin-raey
				</a>
			</li>
			<li class="p-0.5 px-1">
				<a
					class="flex items-center gap-0.5 border border-black/20 rounded-xl p-0.5 px-1 bg-white/20"
					href="#"
					rel="external noopener noreferrer"
					target="_blank"
				>
					<LinkedIn /> ausmdw
				</a>
			</li>
			<li class="p-0.5 px-1">
				<a
					class="flex items-center gap-0.5 border border-black/20 rounded-xl p-0.5 px-1 bg-white/20"
					href="#"
					rel="external noopener noreferrer"
					target="_blank"
				>
					<Mailbox />
					Email
				</a>
			</li>
		</ul>
	</Card>
</Default>
