/* Global styles */
:global(html, body) {
	overflow: hidden;
	min-height: 100svh;

	@media screen and (max-width: 768px) {
		&:has(astro-card[data-size="large"]) {
			overflow: initial;
			background-color: oklch(96.715% 0.00011 271.152);
		}
	}
}

:global(body) {
	display: grid;
	place-items: center;

	@media screen and (max-width: 768px) {
		&:has(astro-card[data-size="large"]) {
			display: block;
		}
	}
}

:global(h1, h2, h3, h4, h5, h6, p, a, span, dd, dt, li) {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow:
		0 1px 0 rgba(255, 255, 255, 0.45),
		0 -1px 0 rgba(255, 255, 255, 0.33),
		1px 0 0 rgba(255, 255, 255, 0.33);
}
