html,
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: var(--font);
}

h1 {
	font-weight: 800;
	line-height: 1.2;
	letter-spacing: -0.1rem;
}

h2 {
	line-height: 1.05;
	font-weight: 700;
}

h4 {
	font-weight: 500;
	line-height: 1.2;
}

h5 {
	font-weight: 400;
	line-height: 1.2;
}

p,
li {
	line-height: 1.75;
	font-weight: 400;
}
