.i {
	display: inline;
	vertical-align: text-bottom;
	pointer-events: none;
}

.sr-only {
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.split-grid {
	display: grid;
	gap: var(--size-2);
	grid-template-columns: repeat(2, minmax(0, 1fr));
	max-width: 60ch;
}

.split-grid > * {
	display: grid;
	gap: var(--size-2);
	grid-template-rows: max-content;
}

@media screen and (max-width: 640px) {
	.split-grid {
		grid-template-columns: 1fr;
	}
}
