:root {
	--color-link: oklch(62.3% 0.214 259.815);
	--color-text: oklch(0.25 0.02 240);

	--size-base: 0.25rem; /* 4px base unit */

	/* Size scale (number * base) */
	--size-0: 0;
	--size-px: 1px;
	--size-0-125: calc(var(--size-base) * 0.125);
	--size-0-25: calc(var(--size-base) * 0.25);
	--size-0-5: calc(var(--size-base) * 0.5);
	--size-0-75: calc(var(--size-base) * 0.75);
	--size-1: calc(var(--size-base) * 1);
	--size-2: calc(var(--size-base) * 2);
	--size-3: calc(var(--size-base) * 3);
	--size-4: calc(var(--size-base) * 4);
	--size-5: calc(var(--size-base) * 5);
	--size-6: calc(var(--size-base) * 6);
	--size-8: calc(var(--size-base) * 8);
	--size-10: calc(var(--size-base) * 10);
	--size-12: calc(var(--size-base) * 12);
	--size-16: calc(var(--size-base) * 16);
	--size-20: calc(var(--size-base) * 20);
	--size-24: calc(var(--size-base) * 24);
	--size-32: calc(var(--size-base) * 32);
}
